.form {
  background-color: #1d1d42;
  padding: 2rem;
  border-radius: 20px;
  color: #ffffff;
  transition: 0.5s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  &:hover {
    box-shadow: 0 0 10px white;
  }
}
