.container-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  padding: 0.5em;
  border: none;
  border-radius: 1rem;
  color: #000000;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 150px;
}
.label {
  display: block;
  padding-left: 0.5rem;
}
